.Alert {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 24px;
  font-size: 16px;
  border-radius: 2px;
}

.Alert--neutral {
  border: 1px solid #6e798b;
  color: #6e798b;
  background: rgba(110, 121, 139, 0.07);
}

.Alert--success {
  border: 1px solid green;
  color: green;
  background: rgba(0, 128, 0, 0.07);
}

.Alert--failure {
  border: 1px solid #CA2329;
  color: #CA2329;
  background: rgba(202, 35, 41, 0.07);
}
