.Page {
  flex:1;
  height: 100%;
  margin: 36px;
}

.Page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.Page-title {
  margin: 0 12px 0 0;
  padding: 0;
}

.Page-actions {}
